page-child-container {
  .grid{
    padding: 0;
  }
  .table-header {
    background: #bbbbbb;
    color: black;
    font-weight: bold;
  }

  .table-sub-header {
    background: #eeeeee;
    color: black;
    font-weight: bold;
  }
}
